<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1>New Task</h1>
        </div>

        <div class="card-body">
          <%= form_with(model: @task, local: true) do |form| %>
            <% if @task.errors.any? %>
              <div class="alert alert-danger">
                <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

                <ul>
                <% @task.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :title %>
              <%= form.text_field :title, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :description %>
              <%= form.text_area :description, class: 'form-control' %>
            </div>

            <div class="form-group due_date">
              <%= form.label :due_date %>
              <%= form.date_select :due_date, { class: 'form-control' } %>
            </div>

            <div class="form-group">
              <%= form.submit class: 'btn btn-primary' %>
              <%= link_to 'Cancel', tasks_path, class: 'btn btn-secondary ml-2' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
