<h1><%= @task.title %></h1>

<p><%= @task.description %></p>

<strong>Status:</strong> <%= @task.status %><br>
<strong>Due Date:</strong> <%= @task.due_date.strftime('%Y-%m-%d') %><br>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
